<div class="d-flex flex-row justify-content-center">
    <div class="container">
       <div class="form-group">
           <label for="course"></label>
           <select class="form-control" id="course" (change)="changeCourse($event)">
               <option disabled>Select Course</option>
               <option *ngFor="let c of courseList">{{c}}</option>
           </select>
       </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label for="department"></label>
            <select class="form-control" id="department" (change)="changeDepartment($event)">
                <option disabled>Select Department</option>
                <option *ngFor="let d of departmentList">{{d}}</option>
            </select>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label for="year"></label>
            <select class="form-control" id="year" (change)="changeYear($event)">
                <option disabled>Select year</option>
                <option *ngFor="let y of yearList">{{y}}</option>
            </select>
        </div>
    </div>
</div>
