<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-8 decor">
      <img src="../../assets/LoginImage.jpg" alt="Coming soon">
    </div>
    <div class  ="col-md-4 col-sm-12 cred-bar">
      <h1>Feedback Form</h1>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="roll-no">Faculty ID</label> <br>
          <input type="text" class="form-control" id="roll-no" name="roll-no"
                 [(ngModel)]="rollNo" required #roll="ngModel"
                 (input)="validateRoll($event)">
          <span class="error" *ngIf="!roll.valid && roll.touched">Please enter a valid ID</span>
          <span class="error" *ngIf="!isValid">Please enter a valid roll number</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label> <br>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required #pass="ngModel">
          <span class="error" *ngIf="!pass.valid && pass.touched">Please enter a valid password</span>
        </div>
        <button class="btn login-button" [disabled]="!f.valid" [routerLink]="'/faculty-landing'">Login</button>
      </form>
    </div>
  </div>
</div>
