@import "../../variables.sass"

.side-header
  font: 100% "Product Sans", sans-serif
  transform: rotate(270deg)
  transform-origin: 0 0
  margin: 20px
  display: inline-block

.side-header-position
  position: fixed
  left: 2px
  top: 95vh

#subject
  font-size: 30px
  color: $primary_color
  margin-block-start: 0.1em
  margin-block-end: 0.1em

#faculty
  font-size: 25px
  color: $secondary-color
  margin-block-start: 0px
  margin-block-end: 0px

#subject_code
  font-size: 25px
  color: $accent-color
  margin-block-start: 0.3em
  margin-block-end: 0.3em
